/* music/static/css/styles.css */

body {
    padding-top: 56px;
}

.jumbotron {
    background-color: #f8f9fa;
    padding: 2rem 1rem;
    border-radius: 0.3rem;
}

.container {
    margin-top: 2rem;
}